
.card-body {
   color: blue;
   width: 100%;
   
}


.d-flex{
   box-shadow: 2px 2px 5px #000;
   background-color: #000;
}

@media screen and (max-width: 700px){

   .card-body{
      display: inline-block;
      width: 100%;
      height: auto;
   }

   .container{
      display: inline-block;
      width: 100%;
      height: auto;
   }

   .col-3{
      display: inline-block;
      width: 100%;
   }

   .row{
      
      width: 100%;
   }

   .d-flex.flex-wrap{
      display: inline-block;
      width: 100%;
      height: auto;
   }
   
}